html, body {
  background-color: rgba(39,43,48,0.8);
  cursor: default;
  height: 100%;
  width: 100%;
  -webkit-app-region: drag;
  -webkit-user-select: none;
}

a, button, .form-group, .dev-tools * {
  -webkit-app-region: no-drag;
}

.btn:active,
.btn:active.btn:focus,
.btn:focus,
.label:active,
.label:active.label:focus,
.label:focus {
  outline: none;
}
